* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #7fd3f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgb(234, 105, 105);
  padding: 20px;
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  cursor: pointer;
}

#error {
  color: red;
  margin-top: 10px;
}

#qrcode {
  margin-top: 20px;
}
