* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* BACKGROUND */
body {
  height: 100vh;
  background-image: url("shinchanClose.jpg");
  background-size: cover;
  background-position: center;
  transition: background-image 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD */
.card {
  width: 320px;
  padding: 25px;
  background: rgba(255, 255, 255, 0.88);
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 15px 30px rgba(0,0,0,0.25);
}

/* HEADING */
.card h2 {
  color: #ff9a85; /* peach */
  margin-bottom: 15px;
}

/* PASSWORD INPUT */
#password {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #b8e1ff;
  margin-bottom: 15px;
  font-size: 14px;
}

/* OPTIONS */
.controls {
  text-align: left;
  font-size: 14px;
  margin-bottom: 10px;
  color: #4a90e2; /* light blue */
}

.controls label {
  display: block;
  margin-bottom: 6px;
}

/* SHOW PASSWORD */
.show {
  display: flex;
  justify-content: center;
  gap: 6px;
  color: #4a90e2;
  margin: 10px 0;
}

/* BUTTON */
button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(135deg, #b8e1ff, #ffb7a5);
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}
